@model u20676736_HW06.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
